@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  background-color: lightgray;
  color: #000000
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.glass-wrapper{
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.main-navigation {
  display: flex;
  align-items: center;
  position: relative;
  padding: 16px 0 19px 0;
}


.logo {
  position: absolute;
  top: 0;
  display: block;

}

.navigation-list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 450px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  margin-left: 186px;
}

.navigation-list-user {
  margin-right: 0;
  justify-content: flex-end;
  align-items: center;
  width: 330px;
}

.navigation-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-right: 34px;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: -1px;
  width: 70px;
  height: 0;
  border-bottom: 2px solid #756257;
}

.navigation-user-item {
  margin-right: 0;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-item:last-child {
  margin-right: 0px;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.navigation-link-user {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 12px;
}

.navigation-link-search {
  position: relative;
}

.navigation-link-search::after {
  content: "12";
  position: absolute;
  left: 25px;
  top: -1px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 13px;
  letter-spacing: -0.1em;
}

.navigation-link-search:active::after {
  color: rgba(255, 255, 255, 0.3)
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link-user:hover {
  fill: #756257;
}

.button-booking-link {
  padding: 8px 34px;
  background-color: #756257;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
  align-self: center;
}

.button-booking-link:hover{
  background-color: #615048;
  color: #ffffff;
}

.button-booking-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.button-booking-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-color: aqua;
  background-image:
  url("../images/svg/background-border-bottom.svg"),
  url("../images/jpeg/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 428px, 0px;

}

.welcome-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}


.welcome-title {
  margin-top: 0;
  padding-top: 60px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: auto;
  margin-bottom: 30px;
}

.advantages-title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: auto;
  margin-top: 0;
  margin-bottom: 80px;

}

.advantages-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.adventages-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 97px;
  padding-bottom: 87px;
}

.advantages-item-home {
  background-image: url("../images/svg/catalog-icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 30%;
  padding-top: 89px;
  padding-bottom: 79px;
}

.advantages-item-eat {
  padding-top: 91px;
}

.advantages-item-gift {
  padding-top: 85px;
}

.advantages-item-difference.adventages-box {
  padding-bottom: 107px;
}



.advantages-item-title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  width: 172px;
}

.advantages-title-home {
  padding-top: 110px;
  background-image: url("../images/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.advantages-title-food {
  padding-top: 110px;
  background-image: url("../images/svg/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.advantages-title-gift {
  padding-top: 110px;
  background-image: url("..//images/svg/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.advantages-item-home.advantages-item-title {
  margin-bottom: 20px;
  padding: 0;
}
.advantages-item-eat.advantages-item-title {
  margin-bottom: 20px;
  padding: 0;
}
.advantages-item-gift.advantages-item-title {
  margin-bottom: 20px;
  padding: 0;
}

.advantages-icon {
  margin-bottom: 23px;
}

.advantages-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-item-title-white {
  color: #ffffff;
}

.advantages-number {
  text-transform: uppercase;
}

.advantages-number-white {
  color: #ffffff;
}

.advantages-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 220px;
  text-align: center;
  margin: 0;
}


.advantages-description-white{
  color: #ffffff;
}

.advantages-description-width-220 {
  width: 220px;
}

.advantages-description-width-191 {
  width: 180px;
}

.advantages-description-width-242 {
  width: 242px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background-color: inherit;
}

.advantages-item-blue {
  background-color: #83B3D3;
}

.advantages-item-opacity {
  background: rgba(131, 179, 211, 0.2);
}

.booking {
  padding-top: 91px;
  padding-bottom: 93px;
}


.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 29px;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 56px;
}

.navigation-catalog-link {
  display: block;
  margin: auto;
  width: 575px;
  padding-top: 14px;
  padding-bottom: 13px;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation-catalog-link:hover {
  background: #615048;
  border-radius: 10px;
}

.navigation-catalog-link:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
}

.navigation-catalog-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.subscribe {
  background-color: #68A2CA;
  background-image: url("../images/jpeg/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 93px;
}

.subscribe-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  display: block;
  width: 500px;
  margin: auto;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 46px;
}

.subscribe-button{
  width: 200px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  border: none;
}

.subscribe-area {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 19px;
  background-color: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.subscribe-inner {
  background-image: none;
}

.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}


.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.social-link:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
}

.social-link:active {
  opacity: 0.3;
  border: none;
}


.phone-number-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px;
}

.footer-link:hover {
  color: #756257;
}

.partner-logo {
  fill: #000000;
}

.partner-logo:hover {
  fill: #756257;
}

.footer-link:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-link:active {
  opacity: 0.3;
  outline: none;
}


.catalog-product {
  background-color: #68A2CA;
  background-image: url("../images/jpeg/catalog-background.jpg");
  background-size: cover;
  color:#ffffff;
  padding-top: 35px;
}


.page-inner-title {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 5px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 6px 8px 9px 8px;
}


.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 0;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 5px;
}

.breadcrumbs-item:first-child::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 7px;
  width: 5px;
  height: 8px;
  background-image: url("../images/svg/arow-breadcrumbs.svg");
  background-repeat: no-repeat;
}


.catalog-filter {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  grid-template-rows: min-content 83px;
  column-gap: 67px;
  align-items: flex-start;
}

.catalog-filter-item {
  display: flex;
}

.filter-wrapper {
  display: flex;
  margin-bottom: 13px;
}

.filter-wrapper:last-child {
  margin-bottom: 0;
}


.filter-button-wrapper{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  margin-right: auto;
  padding: 0;
}

.catalog-filter-group:nth-of-type(2) {
  margin-right: 145px;
}

.catalog-filter-range {
  width: 270px;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.filter-submit-button {
  width: 160px;
  height: 48px;
  background: #83B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.filter-reset-button {
  width: 160px;
  height: 23px;
  background: none;
  border: none;
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}

.sorting {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 44px;
  margin-bottom: 53px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
}

.search-filters-results {
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 171px;
}

.sorting-variants {
  width: 287px;
  height: 48px;
  padding: 12px 19px;
  margin-right: 60px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.sorting-variants:hover {
  outline: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-variants:focus {
  outline: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-variants:active {
  outline: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

.number-hotels-on-page {
  width: 160px;
  margin-right: 0;
}

.display-type {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-right: 0;
}

.display-type-item + .display-type-item {
  margin-left: 8px;
}

.display-type-link {
  color:#000000;
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.display-type-link:hover,
.display-type-link:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.display-type-link-current {
  border: 2px solid #000000;
}

.display-type-icon {
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  align-items: center;
}

.search-results-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 10px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 34px;
  border-bottom: 1px solid #E6E6E6;;
}

.product-card-article {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 206px min-content min-content min-content;
  row-gap: 16px;
  padding: 20px;
}

.product-card-link {
  grid-column: 1/-1;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:focus {
  outline: 3px solid #83B3D3;
}

.product-card-link:active {
  opacity: 0.3;
  outline: none;
}

.search-results-cards-wrapper {
  grid-column: 1/3;
}

.product-card-image {
  grid-row: 1/2;
}

.search-results-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.search-results-cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 3/4;
}

.search-results-item-type {
  grid-column: 1/2;
  margin-top: 0;
}

.search-results-item-type-price {
  font-weight: normal;
  line-height: 23px;
  color: #333333;
  grid-column: 2/3;
  margin-top: 0;
}

.button-wrapper {
  width: 299px;
  display: flex;
  justify-content: space-between;
  grid-row: 4/5;
}

.button {
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: inline-block;
  padding: 9px 22px 10px 22px;
  margin: 0;
  background: #756257;
  border-radius: 4px;
}

.search-results-item-link:hover {
  background: #615048;
}
.button-favorit:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.search-results-item-link:focus {
  outline: 3px solid #83B3D3;
  background: #615048;
  border-radius: 4px;
}

.button-favorit:focus {
  outline: 3px solid #756257;
  background: #68A2CA;
  border-radius: 4px;
}

.search-results-item-link:active,
.button-favorit:active{
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-favorit {
  background: #83B3D3;
}

.in-favorit {
  background-color: #7DB54F;
}

.in-favorit:hover {
  background: #6C9E42;
}

.in-favorit:focus {
  outline: 3px solid #756257;
  background: #6C9E42;
  border-radius: 4px;
}

.in-favorit:active {
  outline: none;
}

.rating-button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 9px 25px 10px 25px;
}

.rating-wrapper {
  width: 299px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 5/6;
}

.page-pagination {
  background-color: #ffffff;
}

.pagination-show-more {
  display: block;
  width: 620px;
  background: #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 19px 150px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.pagination-show-more:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.pagination-show-more:focus {
  outline: 3px solid #756257;
  background: #68A2CA;
}

.pagination-list {
  width: 400px;
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-right: auto;
}

.hotel-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: #83B3D3;
  border-radius: 4px;
  width: 55px;
  height: 55px;
  margin-right: 5px;
}

.pagination-link:hover{
  background-color: #68A2CA;
}

.pagination-link:focus{
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:active{
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-current {
  color: #000000;
  background: #F2F2F2;
}

.number-hotels-on-page {
  width: 160px;
  height: 48px;
  padding-left: 17px;
  margin-left: 51px;
}

.subscribe-inner {
  background-color: #ffffff;
  background-image: none;
}

.subscribe-title-inner {
  color: #000000;
}

.subscribe-description-inner {
  display: block;
  width: 500px;
  margin: auto;
  margin-bottom: 50px;
  color: #000000;
}
