@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  background-color: #E5E5E5;
  color: #000000
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.glass-wrapper{
  width: 1060px;
  padding-left: 70px;
  padding-right: 70px;
}

.main-navigation {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 0 14px 0;
}


.logo {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: 520px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  margin-left: 186px;
}

.navigation-list-user {
  flex-wrap: wrap;
  margin-right: 0;
  justify-content: flex-end;
  align-items: center;
  width: 330px;
}

.navigation-item {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-right: 34px;
}

.navigation-item-current {
  position: relative;
}

.navigation-item-current::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -1px;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #756257;
}

.navigation-user-item {
  margin-right: 0;
}

.navigation-user-item:nth-child(2) {
  margin-right: 20px;
}

.navigation-item:last-child {
  margin-right: 0px;
}

.navigation-link {
  font-family: "PT Sans",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.navigation-link-user {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 11px;
}

.navigation-link-search {
  position: relative;
}

.navigation-link-search::after {
  content: "12";
  position: absolute;
  left: 25px;
  top: -4px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 13px;
  letter-spacing: -0.1em;
}

.navigation-link-search:active::after {
  color: rgba(255, 255, 255, 0.3)
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link-user:hover {
  fill: #756257;
}

.navigation-link.navigation-link-current:hover,
.navigation-link.navigation-link-current:focus,
.navigation-link.navigation-link-current:active {
  font-family: "PT Sans",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}

.button-booking-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  box-sizing: border-box;
}

.button-booking-link:hover{
  background-color: #615048;
  color: #ffffff;
}

.button-booking-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 2px;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 2px;
  border-radius: 4px;
  box-sizing: border-box;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
  outline: none;
}

.button-booking-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-color: aqua;
  background-image:
  url("../images/svg/background-border-bottom.svg"),
  url("../images/jpeg/index-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 428px, 0px;

}

.welcome-image {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}


.welcome-title {
  margin-top: 0;
  padding-top: 63px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
  margin: auto;
  margin-bottom: 30px;
}

.advantages-title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
  margin: auto;
  margin-top: 0;
  margin-bottom: 80px;

}

.advantages-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.adventages-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  padding-top: 96px;
  padding-bottom: 88px;
}

.advantages-item-home {
  background-image: url("../images/svg/catalog-icon-home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 50% 30%;
  padding-top: 89px;
  padding-bottom: 79px;
}

.advantages-item-eat {
  padding-top: 91px;
}

.advantages-item-gift {
  padding-top: 85px;
}

.advantages-item-difference.adventages-box {
  padding-bottom: 107px;
}

.advantages-item-title {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  width: 172px;
}

.advantages-title-home {
  padding-top: 95px;
  margin-bottom: 20px;
  background-image: url("../images/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.advantages-title-food {
  padding-top: 93px;
  background-image: url("../images/svg/icon-eat.svg");
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.advantages-title-gift {
  padding-top: 99px;
  background-image: url("..//images/svg/icon-gift.svg");
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.advantages-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantages-item-title-white {
  color: #ffffff;
}

.advantages-number {
  text-transform: uppercase;
}

.advantages-number-white {
  color: #ffffff;
}

.advantages-description {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 220px;
  text-align: center;
  margin: 0;
}


.advantages-description-white{
  color: #ffffff;
}

.advantages-description-width-220 {
  width: 220px;
}

.advantages-description-width-191 {
  width: 180px;
}

.advantages-description-width-242 {
  width: 242px;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-white {
  background-color: inherit;
}

.advantages-item-blue {
  background-color: #83B3D3;
}

.advantages-item-opacity {
  background: rgba(131, 179, 211, 0.2);
}

.booking {
  padding-top: 93px;
  padding-bottom: 93px;
}


.booking-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 29px;
}

.booking-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 56px;
}

.navigation-catalog-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 575px;
  min-height: 60px;
  background: #756257;
  border-radius: 10px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation-catalog-link:hover {
  background: #615048;
  border-radius: 10px;
}

.navigation-catalog-link:focus {
  background: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 2px;
  box-sizing: border-box;
}

.navigation-catalog-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.subscribe {
  background-color: #68A2CA;
  background-image: url("../images/jpeg/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  display: block;
  width: 500px;
  margin: auto;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 46px;
}

.subscribe-button{
  width: 200px;
  height: 60px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  border: none;
}

.subscribe-button:hover {
  background-color: #68A2CA;
}

.subscribe-button:focus {
  outline: 3px solid #756257;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-area {
  width: 600px;
  height: 60px;
  padding: 8px 22px 8px 21px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 10px 0px 0px 10px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  box-sizing: border-box;
}

.subscribe-area::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.subscribe-area:hover {
  background-color: #E6E6E6;
}

.subscribe-area:focus {
  outline: 3px solid #83B3D3;
}

.subscribe-area:invalid {
  background: #FFFFFF;
  outline: 2px solid #FF5757;
  outline-offset: -2px;
  box-sizing: border-box;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.subscribe-inner {
  background-image: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding-top: 25px;
  padding-bottom: 20px;
}


.social-list {
  display: flex;
  width: 111px;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item + .social-item {
  margin-left: 26px;

}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  color: #83B3D3
}

.social-link-facebook {
  padding-left: 5px;
  padding-right: 5px;
}

.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
  box-sizing: border-box;
  border-radius: 1px;

}

.social-link:active {
  opacity: 0.3;
  outline: none;
}


.phone-number-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px;
  padding-right: 7px;
}

.footer-link:hover {
  color: #756257;
}

.partner-logo {
  fill: #000000;
}

.partner-logo:hover {
  fill: #756257;
}

.footer-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer-link:active {
  opacity: 0.3;
  outline: none;
}


.catalog-product {
  background-color: #68A2CA;
  background-image: url("../images/jpeg/catalog-background.jpg");
  background-size: cover;
  color:#ffffff;
  padding-top: 41px;
}


.page-inner-title {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  line-height: 66px;
}

.breadcrumbs-link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-right: 5px;
  padding: 3px 7px 3px 2px;
}


.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 5px;
  box-sizing: border-box;
  border-radius: 4px;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 45px;
  padding-left: 0;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 13px;
}

.breadcrumbs-item:first-child::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 7px;
  width: 5px;
  height: 8px;
  background-image: url("../images/svg/arow-breadcrumbs.svg");
  background-repeat: no-repeat;
}


.catalog-filter {
  display: grid;
  grid-template-columns: min-content min-content 31px min-content 1fr;
  grid-template-rows: min-content 86px;
  column-gap: 69px;
  align-items: flex-start;
}

.catalog-filter-item {
  display: flex;
}

.catalog-range {
  grid-column: 4/5;
}

.control {
  display: block;
  position: relative;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  left: 1px;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-mark-radio {
  border-radius: 50%;
}

.catalog-filter-item[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/svg/input-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-item[type="checkbox"]:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-filter-item[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.catalog-filter-item[type="checkbox"]:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.catalog-filter-item[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  content: "";
  border-radius: 50%;
}

.catalog-filter-item[type="radio"]:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.filter-wrapper {
  display: flex;
  margin-bottom: 14px;
}

.filter-wrapper:last-child {
  margin-bottom: 0;
}


.filter-button-wrapper{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}


.filter-price-wrapper {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 28px;
}

.catalog-filter-price {
  width: 144px;
  height: 47px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  appearance: none;
  padding: 14px 42px 15px 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-price:hover {
  border-color:  rgba(255, 255, 255, 0.6);
}

.catalog-filter-price:active {
  background-color: #756257;
}


.catalog-filter-price::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-price::-webkit-outer-spin-button,
.catalog-filter-price::-webkit-inner-spin-button {
  appearance: none;
}

.price-min {
  position: relative;
}

.price-min:focus {
  outline: 2px solid #81B3D2;
  border-right: 1px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.filter-price-wrapper::after {
  position: absolute;
  right: 15px;
  top: 11px;
  width: 23px;
  height: 23px;
  content: "до";
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.3;
}

.filter-price-wrapper::before {
  position: absolute;
  right: 155px;
  top: 11px;
  width: 23px;
  height: 23px;
  content: "от";
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  opacity: 0.3;
  z-index: 1;
}

.price-max {
  position: relative;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #FFFFFF;
}

.price-max:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.price-max:focus {
  outline: 2px solid #81B3D2;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 3px #81B3D2;
}

.range {
  position: relative;
}

.range-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 287px;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
}

.range-scale {
  position: absolute;
  top: -4px;
  left: 0;
  width: 237px;
  border-top: 4px solid #FFFFFF;
}

.filter-price-button {
  position: absolute;
  transform: translateY(-58%);
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.filter-price-button:focus {
  outline: 3px solid #83B3D3;
  border-radius: 5px;
}

.filter-price-button:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.button-max {
  right: -8px;
}

.catalog-filter-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-title-margin-bottom{
  margin-bottom: 34px;
}

.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filter-submit-button {
  display: block;
  width: 162px;
  height: 49px;
  background: #83B3D3;
  border-radius: 4px;
  padding: 0;
  border: none;
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 19px;
  box-sizing: border-box;
  justify-self: flex-end;
}

.filter-submit-button:hover {
  background: #68A2CA;
}

.filter-submit-button:focus {
  background: #68A2CA;
  outline: 3px solid #FFFFFF;
  border: none;
}

.filter-reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 20px;
  background: none;
  border: none;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.filter-reset-button:hover {
  opacity: 0.6;
}

.filter-reset-button:focus {
  outline: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.filter-reset-button:active {
  opacity: 0.3;
  outline: none;
}

.sorting {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 26px;
  margin-bottom: 36px;
}

.search-filters-results {
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin-right: 193px;
}

.sorting-variants {
  width: 287px;
  height: 48px;
  padding: 10px 40px 12px 16px;
  margin-right: 81px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  appearance: none;
  background-image: url("../images/svg/sorting-variants-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.sorting-variants:hover {
  outline: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-variants:focus {
  outline: 2px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 4px;
}

.sorting-variants:active {
  outline: 2px solid #E6E6E6;
  color: rgba(51, 51, 51, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

.number-hotels-on-page {
  width: 160px;
  margin-right: 0;
}

.display-type {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-right: 0;
}

.display-type-item + .display-type-item {
  margin-left: 8px;
}

.display-type-link {
  color:#000000;
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.display-type-link:hover,
.display-type-link:focus {
  border: 2px solid #83B3D3;
  outline: none;
}

.display-type-link-current {
  border: 2px solid #000000;
}

.display-type-icon {
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  align-items: center;
}

.search-results-list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 16px;
  row-gap: 9px;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 34px;
  border-bottom: 1px solid #E6E6E6;;
}

.product-card-image {
  display: block;
}

.product-card-article {
  display: grid;
  grid-template-columns: minmax(151px, auto) minmax(151px, auto);
  grid-template-rows: 206px min-content min-content min-content min-content;
  row-gap: 16px;
  padding: 20px;
}

.product-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.product-card-link:hover {
  opacity: 0.6;
}

.product-card-link:focus {
  outline: 3px solid #83B3D3;
}

.product-card-link:active {
  opacity: 0.3;
  outline: none;
}

.product-card-image {
  grid-row: 1/2;
}

.search-results-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  grid-row: 2/3;
  grid-column: 1/-1;
}

.search-results-item-type {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 0;
}

.search-results-item-type-price {
  font-weight: normal;
  line-height: 23px;
  color: #333333;
  grid-column: 2/3;
  grid-row: 3/4;
  margin-top: 0;
  padding-left: 9px;
}

.button-wrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-row: 4/5;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 37px;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756257;
  border-radius: 4px;
  border: none;
}

.button-favorit {
  width: 139px;
}

.search-results-item-link:hover {
  background: #615048;
}
.button-favorit:hover {
  background: #68A2CA;
  outline: 1px solid #756257;
}

.search-results-item-link:focus {
  outline: 3px solid #83B3D3;
  background: #615048;
  border-radius: 4px;
}

.button-favorit:focus {
  outline: 3px solid #756257;
  background: #68A2CA;
  border-radius: 4px;
}

.search-results-item-link:active,
.button-favorit:active{
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.button-favorit {
  background: #83B3D3;
}

.in-favorit {
  background-color: #7DB54F;
}

.in-favorit:hover {
  background: #6C9E42;
}

.in-favorit:focus {
  outline: 3px solid #756257;
  background: #6C9E42;
  border-radius: 4px;
}

.in-favorit:active {
  outline: none;
}

.rating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 37px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
  border-radius: 4px;
}

.rating-wrapper {
  width: 299px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 5/6;
}

.hotel-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E6E6E6;
  background-color: #ffffff;
  padding-top: 28px;
}


.pagination-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  min-height: 60px;
  background: #83B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-show-more:hover {
  background: #68A2CA;
  border-radius: 4px;
}

.pagination-show-more:focus {
  outline: 3px solid #756257;
  background: #68A2CA;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-right: auto;
}

.pagination-item + .pagination-item {
  margin-left: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  background: #83B3D3;
  border-radius: 4px;
  width: 55px;
  height: 55px;
}

.pagination-link:hover{
  background-color: #68A2CA;
}

.pagination-link:focus{
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 4px;
}

.pagination-link:active{
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.pagination-link-current:hover,
.pagination-link-current:focus,
.pagination-link-current:active {
  color: #000000;
  background: #F2F2F2;
}

.number-hotels-on-page {
  width: 160px;
  height: 48px;
  padding: 7px 17px 8px 13px;
  margin-left: 51px;
}

.number-hotels-filter-label {
  margin-right: 3px;
}

.subscribe-inner {
  background-color: #ffffff;
  background-image: none;
  padding-top: 73px;
  padding-bottom: 141px;
}

.subscribe-title-inner {
  color: #000000;
  margin-bottom: 46px;
}

.subscribe-description-inner {
  display: block;
  width: 500px;
  margin: auto;
  margin-bottom: 46px;
  color: #000000;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-close {
  display: none;
}

.modal-booking {
  position: relative;
  width: 715px;
  min-height: 561px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 70px;
  padding-top: 60px;
  box-sizing: border-box;
}

.close-button {
  position: absolute;
  right: 71px;
  top: 55px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  background-image: url("../images/svg/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: none;
  cursor: pointer
}

.close-button:hover {
  background-color: #E6E6E6;
}

.close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.close-button:active {
  opacity: 0.6;
  outline: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 11px;
}

.flex-row-wrapper:nth-of-type(2) {
  margin-bottom: 10px;
}

.flex-row-wrapper-different {
  width: 100%;
  margin-bottom: 37px;
  justify-content: flex-start;
}

.modal-title {
  margin: 0;
  margin-bottom: 58px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.modal-input-wrapper {
  display: flex;
}

.person-wrapper {
  display: flex;
  width: min-content;
}

.notation-wrapper {
  display: flex;
  align-items: center;
  margin-left: 56px;
}

.modal-input {
  position: relative;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
  padding: 1px 40px 1px 18px;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  width: 420px;
  height: 50px;
}

.modal-input:hover {
  background-color: #E6E6E6;
}

.modal-input:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.modal-input:active {
  background: #FFFFFF;
  outline: 2px solid #000000;
  outline-offset: -2px;
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-input::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.modal-input-label {
  position: relative;
  margin: 0;
  padding: 0px;
  min-width: auto;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.celend-decor-first::after {
  position: absolute;
  background-image: url("../images/svg/modal-calend.svg");
  background-repeat: no-repeat;
  top: 12px;
  right: -456px;
  width: 15px;
  height: 15px;
  content: "";
  z-index: 1;
}

.celend-decor-second::after {
  position: absolute;
  background-image: url("../images/svg/modal-calend.svg");
  background-repeat: no-repeat;
  top: 12px;
  right: -451px;
  width: 15px;
  height: 15px;
  content: "";
  z-index: 1;
}

.modal-input-person {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 37px;
  background-color: #F2F2F2;
  border: none;
  padding: 0;
  padding-bottom: 3px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-input-person:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -6px;
}

.modal-input-person:active {
  outline: none;
}

.modal-input-label-adult {
  min-width: auto;
  margin-right: 76px;
}

.modal-input-label-children {
  min-width: auto;
  margin-right: 12px;
}

.modal-input-person::placeholder {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.modal-input-person::-webkit-outer-spin-button,
.modal-input-person::-webkit-inner-spin-button {
  appearance: none;
}

.button-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 46px;
  height: 50px;
  padding: 0;
  background-color: #F2F2F2;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.button-counter:hover  {
  color: rgba(0, 0, 0, 1)
}

.button-counter:focus {
  outline: 3px solid #83B3D3;
  outline-offset: -15px;
}

.button-counter:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}

.button-counter-plus {
  border-radius: 0 4px 4px 0;
}

.button-counter-minus {
  border-radius: 4px 0 0 4px;
}


.button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 575px;
  height: 60px;
  padding: 0;
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
  border-radius: 10px;
}

.button-submit:active {
  opacity: 0.6;
  outline: none;
}

.input-notation {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 31px;
  color: #333333;
  margin-left: 155px
}

.input-notation-wrong {
  color: #FF5757;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  left: -114px;
  top: 38px;
  background: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 18px 18px 22px;
  width: 256px;
  min-height: 143px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: none;
  box-sizing: border-box;
}

.tooltip-text::before {
  position: absolute;
  width: 19px;
  height: 9px;
  content: "";
  background-image: url("../images/svg/tooltip-treangle.svg");
  background-repeat: no-repeat;
  bottom: 99%;
  left: 118px;
}

.tooltip-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("../images/svg/modal-notation.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  margin-right: 22px;
}

.tooltip-toggle:focus {
  outline: 3px solid #756257;
  outline-offset: 2px;
}

.tooltip-toggle:hover {
  background-color: #68A2CA;
}

.tooltip-toggle:hover + .tooltip-text {
  display: block;
}
